<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <!-- web-logo -->
    <link rel="short icon" href="assest/images/Home/Header/sm-logo.svg" type="x-icon">
    <link rel="stylesheet" href="assest/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="assest/css/aos.css">
    <link rel="stylesheet" href="assest/css/loader1.css">
    <link rel="stylesheet" href="assest/css/btn.css">
    <link rel="stylesheet" href="assest/css/bootstrap-icons.scss">

    <link rel="stylesheet" href="assest/css/bootstrap.min.css">

    <link rel="stylesheet" href="assest/css/style.css">
</head>

<body  class="loading" style="background-color: #0F0F0F;">

    <div class="loader-wrapper">
       
        <div class="loader"> 
            <div class="loader1">
                
            </div>
        </div>
    </div>

    <div class="back">
        <a href="#">
            <i class="bi bi-arrow-bar-up"></i>                
        </a>
    </div>

     <div id="cursor"></div>
     <div id="stalker"></div>

    <header class="header-bg w-100" data-aos="fade-down">
        <nav class="container navbar navbar-expand-lg rounded-3">
            <div class="container px-4">
                <div class="logo-bar">
                    <img src="assest/images/Home/Header/logo.svg" alt="logo">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white " href="About.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white " href="Services.html">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white " href="Team.html">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white " href="Contact.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white " href="Blog.html">Blog</a>
                        </li>  
                </div>

                <div class="header-btn d-sm-flex d-none">
                    <button type="button" class="btn btn-outline-success px-4">Get A Quote</button>
                </div>            
            </div>
        </nav>

    </header>
    <main>
        
        <!-- Common-banner -->
        <section class="Common-banner">
            <div class="container">
                <div class="row">
                    <div class="d-flex position-relative justify-content-between">
                        <div class="d-flex mt-1 ms-4 contact-img position-relative" data-aos="fade-right">
                            <img class="" src="assest/images/contact/inner-banner-1.png" alt="">
                        </div>
                        <div class="d-flex mt-5 pt-2 ms-5 flex-column align-items-center justify-content-start" data-aos="fade-up">
                            <div class="d-flex mt-5  align-items-center justify-content-center flex-column">
                                <div class="c-btn rounded-1 d-flex align-items-center justify-content-center">
                                    <h3 class="fs-6 pt-1">BLOG GRID</h3>
                                </div>
                                <h1 class="text-white mt-1 fw-bold">"Exploring Softconic Blog"</h1>
                            </div>
                            <div class="d-flex mt-1 align-items-center justify-content-center">
                                <h6 class="fs-6 p-c">Home</h6>
                                <img class="ms-3" src="assest/images/contact/breadcrumb-arrow.svg" alt="">
                                <h6 class="fs-6 ms-3 text-white">Blog Grid</h6>
                            </div>
                        </div>
                        <div class="d-flex align-items-end me-5 contact-img2 position-relative" style="margin-top: 17%;" data-aos="fade-left">
                            <img class="" src="assest/images/contact/inner-banner-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

   
        <section style="padding: 120px 0 90px 0; background-color: #0F0F0F;" data-aos="fade-up">
            <div class="container position-relative blog-bg">
                <div class="row">
                    <div class="">
                        <img src="assest/images/Blog/blog-banner.png" alt="">
                    </div> 
                 
                    <div class="bolg-content mt-5 pt-3">
                        <h1 class="text-white" style="font-size: 60px;line-height: 72px;font-weight: 700;" data-aos="fade-right">Blog</h1>
                        <h3 class="fs-5 text-light opacity-75 mt-2" data-aos="fade-right">Join 50,000+ Subscribers</h3>
                        <div class="blog-btn mt-5 d-flex" data-aos="fade-up">
                            <input type="text" placeholder="Email here..." name="" id="">
                            <button class="d-flex p-bg gap-2 align-items-center justify-content-center" style="border: none; outline: none; height: 55px; padding: 10px 30px;
                             border-radius: 0px 165px 165px 0;color: #1d1d1d; letter-spacing: .02em;">
                                SUBSCRIBE
                                <i class="bi bi-arrow-up-right-circle-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="blog-team pb-5" style="background-color: #0F0F0F;">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="d-flex mt-5 align-items-center justify-content-around">
                        <div class="col-4 blog-content position-relative mx-2 rounded-4" data-aos="fade-right">
                            <a href="#_" class="relative px-2 py-2 overflow-hidden btn-b rounded-1 shadow-inner group" style="position: absolute; top: 0; right: 0;font-size: 13px; font-weight: 600;color: #1d1d1d;">
                                <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 group-hover:w-full ease"></span>
                                <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
                                <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 btn-a group-hover:h-full ease"></span>
                                <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 btn-a group-hover:h-full ease"></span>
                                <span class="absolute inset-0 w-full h-full duration-300 delay-300 btn-a opacity-0 group-hover:opacity-100"></span>
                                <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">Web Development</span>
                            </a>
                           <img class="img-flude" src="assest/images/Blog/home3-blog-01.png" alt="" style="width: 430px;border-radius: 5px 5px 0 0;">
                           <div class="ps-4 pt-4">
                                <div class="d-flex align-items-center justify-content-between text-light opacity-75">
                                    <h6 class=""  style="font-size: 13px;">May 10, 2023</h6>
                                    <h6 class="me-4"style="font-size: 13px;">Comment (5)</h6>
                                </div>
                                
                                <h2 class="fs-4 fw-bold mt-3">Donec Finibus Laoreet Exte Eu <br> Pellentesque.</h2>

                               <div class="d-flex justify-content-between align-items-center">
                                    <div class=" mt-2 d-flex align-items-center">
                                        <p class="p-c mt-3 ms-2" style="font-size: 13px;">READ MORE</p>
                                        <svg class="ms-2" width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1H12M12 1V13M12 1L0.5 12"></path></svg>
                                    </div>
                                    <div class="blog-icon d-flex" style="text-align: center;">
                                        <ul class="d-flex">
                                            <li>
                                                <a href="https://www.facebook.com/">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.facebook.com/">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="https://www.facebook.com/">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="opacity-0">
                                                <a href="https://www.facebook.com/">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                        
                                        </ul>

                                        <div class="border  plan-1  d-flex align-items-center justify-content-center rounded-circle" style="width: 29px;height: 29px;margin-top: 3px; margin-right: 20px; transition: .5s;">
                                            <img src="assest/images/Blog/plain-icon.svg" alt="">
                                        </div>
                                    </div>
                               </div>
                           </div>
                          
                        </div>

                        <div class="col-4 blog-content position-relative mx-2 rounded-4" data-aos="fade-up">
                            <a href="#_" class="relative px-2 py-2 overflow-hidden btn-b rounded-1 shadow-inner group" style="position: absolute; top: 0; right: 0;font-size: 13px; font-weight: 600;color: #1d1d1d;">
                                <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 group-hover:w-full ease"></span>
                                <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
                                <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 btn-a group-hover:h-full ease"></span>
                                <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 btn-a group-hover:h-full ease"></span>
                                <span class="absolute inset-0 w-full h-full duration-300 delay-300 btn-a opacity-0 group-hover:opacity-100"></span>
                                <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">Web Development</span>
                            </a>
                            <img class="img-flude" src="assest/images/Blog/home3-blog-02.png" alt="" style="width: 430px;border-radius: 5px 5px 0 0;">
                            <div class="ps-4 pt-4">
                                 <div class="d-flex align-items-center justify-content-between text-light opacity-75">
                                     <h6 class=""  style="font-size: 13px;">May 20, 2024</h6>
                                     <h6 class="me-4"style="font-size: 13px;">Comment (5)</h6>
                                 </div>
                                 
                                 <h2 class="fs-4 fw-bold mt-3">Feugiat Varius Mattis Mass <br> Enim Est Egestas.</h2>
 
                                <div class="d-flex justify-content-between align-items-center">
                                     <div class=" mt-2 d-flex align-items-center">
                                         <p class="p-c mt-3 ms-2" style="font-size: 13px;">READ MORE</p>
                                         <svg class="ms-2" width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1H12M12 1V13M12 1L0.5 12"></path></svg>
                                     </div>
                                     <div class="blog-icon d-flex" style="text-align: center;">
                                         <ul class="d-flex">
                                             <li>
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-instagram"></i>
                                                 </a>
                                             </li>
                                             <li>
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-facebook"></i>
                                                 </a>
                                             </li>
 
                                             <li>
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-twitter"></i>
                                                 </a>
                                             </li>
                                             <li class="opacity-0">
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-twitter"></i>
                                                 </a>
                                             </li>
                                         
                                         </ul>
 
                                         <div class="border  plan-1  d-flex align-items-center justify-content-center rounded-circle" style="width: 29px;height: 29px;margin-top: 3px; margin-right: 20px; transition: .5s;">
                                             <img src="assest/images/Blog/plain-icon.svg" alt="">
                                         </div>
                                     </div>
                                </div>
                            </div>
                           
                         </div>

                         <div class="col-4 blog-content mx-2 position-relative rounded-4" data-aos="fade-left">
                            <a href="#_" class="relative px-2 py-2 overflow-hidden btn-b rounded-1 shadow-inner group" style="position: absolute; top: 0; right: 0;font-size: 13px; font-weight: 600;color: #1d1d1d;">
                                <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 group-hover:w-full ease"></span>
                                <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
                                <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 btn-a group-hover:h-full ease"></span>
                                <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 btn-a group-hover:h-full ease"></span>
                                <span class="absolute inset-0 w-full h-full duration-300 delay-300 btn-a opacity-0 group-hover:opacity-100"></span>
                                <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">Web Development</span>
                            </a>
                            <img class="img-flude" src="assest/images/Blog/home3-blog-03.png" alt="" style="width: 430px;border-radius: 5px 5px 0 0;">
                            <div class="ps-4 pt-4">
                                 <div class="d-flex align-items-center justify-content-between text-light opacity-75">
                                     <h6 class=""  style="font-size: 13px;">May 20, 2024</h6>
                                     <h6 class="me-4"style="font-size: 13px;">Comment (5)</h6>
                                 </div>
                                 
                                 <h2 class="fs-4 fw-bold mt-3">Navigating The Journey Off <br> Cloud Solution.</h2>
 
                                <div class="d-flex justify-content-between align-items-center">
                                     <div class=" mt-2 d-flex align-items-center">
                                         <p class="p-c mt-3 ms-2" style="font-size: 13px;">READ MORE</p>
                                         <svg class="ms-2" width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1H12M12 1V13M12 1L0.5 12"></path></svg>
                                     </div>
                                     <div class="blog-icon d-flex" style="text-align: center;">
                                         <ul class="d-flex">
                                             <li>
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-instagram"></i>
                                                 </a>
                                             </li>
                                             <li>
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-facebook"></i>
                                                 </a>
                                             </li>
 
                                             <li>
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-twitter"></i>
                                                 </a>
                                             </li>
                                             <li class="opacity-0">
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-twitter"></i>
                                                 </a>
                                             </li>
                                         
                                         </ul>
 
                                         <div class="border  plan-1  d-flex align-items-center justify-content-center rounded-circle" style="width: 29px;height: 29px;margin-top: 3px; margin-right: 20px; transition: .5s;">
                                             <img src="assest/images/Blog/plain-icon.svg" alt="">
                                         </div>
                                     </div>
                                </div>
                            </div>
                           
                         </div>
                       
                    </div>

                    <div class="d-flex mt-4 pt-2 align-items-center justify-content-around">
                        <div class="col-4 blog-content mx-2 rounded-4 position-relative" data-aos="fade-right">
                            <a href="#_" class="relative px-2 py-2 overflow-hidden btn-b rounded-1 shadow-inner group" style="position: absolute; top: 0; right: 0;font-size: 13px; font-weight: 600;color: #1d1d1d;">
                                <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 group-hover:w-full ease"></span>
                                <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
                                <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 btn-a group-hover:h-full ease"></span>
                                <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 btn-a group-hover:h-full ease"></span>
                                <span class="absolute inset-0 w-full h-full duration-300 delay-300 btn-a opacity-0 group-hover:opacity-100"></span>
                                <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">Web Development</span>
                            </a>

                           <img class="img-flude" src="assest/images/Blog/home3-blog-05.png" alt="" style="width: 430px;border-radius: 5px 5px 0 0;">
                           <div class="ps-4 pt-4">
                                <div class="d-flex align-items-center justify-content-between text-light opacity-75">
                                    <h6 class=""  style="font-size: 13px;">May 10, 2023</h6>
                                    <h6 class="me-4"style="font-size: 13px;">Comment (5)</h6>
                                </div>
                                
                                <h2 class="fs-4 fw-bold mt-3">Donec Finibus Laoreet Exte Eu Pellentesque.</h2>

                               <div class="d-flex justify-content-between align-items-center">
                                    <div class=" mt-2 d-flex align-items-center">
                                        <p class="p-c mt-3 ms-2" style="font-size: 13px;">READ MORE</p>
                                        <svg class="ms-2" width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1H12M12 1V13M12 1L0.5 12"></path></svg>
                                    </div>
                                    <div class="blog-icon d-flex" style="text-align: center;">
                                        <ul class="d-flex">
                                            <li>
                                                <a href="https://www.facebook.com/">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.facebook.com/">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="https://www.facebook.com/">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="opacity-0">
                                                <a href="https://www.facebook.com/">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                        
                                        </ul>

                                        <div class="border  plan-1  d-flex align-items-center justify-content-center rounded-circle" style="width: 29px;height: 29px;margin-top: 3px; margin-right: 20px; transition: .5s;">
                                            <img src="assest/images/Blog/plain-icon.svg" alt="">
                                        </div>
                                    </div>
                               </div>
                           </div>
                          
                        </div>

                        <div class="col-4 blog-content position-relative mx-2 rounded-4" data-aos="fade-up">
                            <a href="#_" class="relative px-2 py-2 overflow-hidden btn-b rounded-1 shadow-inner group" style="position: absolute; top: 0; right: 0;font-size: 13px; font-weight: 600;color: #1d1d1d;">
                                <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 group-hover:w-full ease"></span>
                                <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
                                <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 btn-a group-hover:h-full ease"></span>
                                <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 btn-a group-hover:h-full ease"></span>
                                <span class="absolute inset-0 w-full h-full duration-300 delay-300 btn-a opacity-0 group-hover:opacity-100"></span>
                                <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">Web Development</span>
                            </a>
                            <img class="img-flude" src="assest/images/Blog/home3-blog-06.png" alt="" style="width: 430px;border-radius: 5px 5px 0 0;">
                            <div class="ps-4 pt-4">
                                 <div class="d-flex align-items-center justify-content-between text-light opacity-75">
                                     <h6 class=""  style="font-size: 13px;">May 20, 2024</h6>
                                     <h6 class="me-4"style="font-size: 13px;">Comment (5)</h6>
                                 </div>
                                 
                                 <h2 class="fs-4 fw-bold mt-3">Feugiat Varius Mattis Mass <br> Enim Est Egestas.</h2>
 
                                <div class="d-flex justify-content-between align-items-center">
                                     <div class=" mt-2 d-flex align-items-center">
                                         <p class="p-c mt-3 ms-2" style="font-size: 13px;">READ MORE</p>
                                         <svg class="ms-2" width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1H12M12 1V13M12 1L0.5 12"></path></svg>
                                     </div>
                                     <div class="blog-icon d-flex" style="text-align: center;">
                                         <ul class="d-flex">
                                             <li>
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-instagram"></i>
                                                 </a>
                                             </li>
                                             <li>
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-facebook"></i>
                                                 </a>
                                             </li>
 
                                             <li>
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-twitter"></i>
                                                 </a>
                                             </li>
                                             <li class="opacity-0">
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-twitter"></i>
                                                 </a>
                                             </li>
                                         
                                         </ul>
 
                                         <div class="border  plan-1  d-flex align-items-center justify-content-center rounded-circle" style="width: 29px;height: 29px;margin-top: 3px; margin-right: 20px; transition: .5s;">
                                             <img src="assest/images/Blog/plain-icon.svg" alt="">
                                         </div>
                                     </div>
                                </div>
                            </div>
                           
                         </div>

                         <div class="col-4 blog-content position-relative mx-2 rounded-4" data-aos="fade-left">
                            <a href="#_" class="relative px-2 py-2 overflow-hidden btn-b rounded-1 shadow-inner group" style="position: absolute; top: 0; right: 0;font-size: 13px; font-weight: 600;color: #1d1d1d;">
                                <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 group-hover:w-full ease"></span>
                                <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
                                <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 btn-a group-hover:h-full ease"></span>
                                <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 btn-a group-hover:h-full ease"></span>
                                <span class="absolute inset-0 w-full h-full duration-300 delay-300 btn-a opacity-0 group-hover:opacity-100"></span>
                                <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">Web Development</span>
                            </a>
                            <img class="img-flude" src="assest/images/Blog/home3-blog-01.png" alt="" style="width: 430px;border-radius: 5px 5px 0 0;">
                            <div class="ps-4 pt-4">
                                 <div class="d-flex align-items-center justify-content-between text-light opacity-75">
                                     <h6 class=""  style="font-size: 13px;">May 20, 2024</h6>
                                     <h6 class="me-4"style="font-size: 13px;">Comment (5)</h6>
                                 </div>
                                 
                                 <h2 class="fs-4 fw-bold mt-3">Navigating The Journey Off <br> Cloud Solution.</h2>
 
                                <div class="d-flex justify-content-between align-items-center">
                                     <div class=" mt-2 d-flex align-items-center">
                                         <p class="p-c mt-3 ms-2" style="font-size: 13px;">READ MORE</p>
                                         <svg class="ms-2" width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1H12M12 1V13M12 1L0.5 12"></path></svg>
                                     </div>
                                     <div class="blog-icon d-flex" style="text-align: center;">
                                         <ul class="d-flex">
                                             <li>
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-instagram"></i>
                                                 </a>
                                             </li>
                                             <li>
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-facebook"></i>
                                                 </a>
                                             </li>
 
                                             <li>
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-twitter"></i>
                                                 </a>
                                             </li>
                                             <li class="opacity-0">
                                                 <a href="https://www.facebook.com/">
                                                     <i class="bi bi-twitter"></i>
                                                 </a>
                                             </li>
                                         
                                         </ul>
 
                                         <div class="border  plan-1  d-flex align-items-center justify-content-center rounded-circle" style="width: 29px;height: 29px;margin-top: 3px; margin-right: 20px; transition: .5s;">
                                             <img src="assest/images/Blog/plain-icon.svg" alt="">
                                         </div>
                                     </div>
                                </div>
                            </div>
                           
                         </div>
                       
                    </div>
                </div>

                <div class="row mt-4" data-aos="fade-up">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link rounded-2">
                                    <i class="bi bi-arrow-left"></i>
                                </a>
                            </li>
                            <li class="page-item rounded-2">
                                <a class="page-link text-white" style="background-color: #06D889;" href="#">1</a>
                            </li>
                            <li class="page-item rounded-2">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item rounded-2">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link rounded-2" href="#">
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    </div>
            </div>
        </section>

        <section>
            
            <div class="border w-full h-40 flex items-center justify-center">
                <a href="#_" class="relative inline-flex items-center justify-start px-6 py-3 overflow-hidden font-medium transition-all shadow bg-white rounded hover:bg-white group">
                <span class="w-48 h-48 rounded rotate-[-40deg] bg-purple-600 absolute bottom-0 left-0 -translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"></span>
                <span class="relative w-full text-left text-black transition-colors duration-300 ease-in-out group-hover:text-white"> loButton</span>
                </a>
            </div>
        </section>

    </main>

    <footer>
        <section class="footer-sec mt-5">
            <div class="container mx-auto">
                <div class="row">
                    <div class="mt-5 pb-3 f1-bolder mb-5 d-flex align-items-center justify-content-between">
                       <div data-aos="fade-right">
                            <img src="assest/images/Home/Header/logo.svg" alt="">
                       </div> 
                       <div class="d-flex mt-3 align-items-center" data-aos="fade-left">
                            <div class="i-1">
                               <svg width="33" height="33" viewBox="0 0 33 33" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1999_295)"><path d="M26.0808 20.4417C25.4052 19.7383 24.5903 19.3622 23.7267 19.3622C22.87 19.3622 22.0481 19.7313 21.3447 20.4348L19.1438 22.6287C18.9627 22.5312 18.7816 22.4407 18.6075 22.3501C18.3568 22.2248 18.12 22.1063 17.918 21.981C15.8564 20.6716 13.9828 18.9652 12.1859 16.7573C11.3153 15.6569 10.7302 14.7305 10.3054 13.7903C10.8765 13.2679 11.4058 12.7247 11.9212 12.2023C12.1162 12.0073 12.3113 11.8053 12.5063 11.6103C13.9689 10.1477 13.9689 8.25321 12.5063 6.79058L10.6049 4.88917C10.3889 4.67326 10.1661 4.45038 9.95713 4.22751C9.53923 3.79569 9.10045 3.34993 8.64773 2.93204C7.97214 2.26341 7.16421 1.9082 6.3145 1.9082C5.46478 1.9082 4.64293 2.26341 3.94644 2.93204C3.93947 2.939 3.93947 2.939 3.93251 2.94597L1.56445 5.33492C0.672947 6.22643 0.164512 7.31295 0.0530735 8.57359C-0.114084 10.6073 0.484896 12.5018 0.944577 13.7415C2.07289 16.7852 3.75839 19.606 6.27271 22.6287C9.32332 26.2713 12.9938 29.1478 17.1867 31.1746C18.7886 31.9338 20.9268 32.8323 23.3158 32.9855C23.462 32.9924 23.6152 32.9994 23.7545 32.9994C25.3634 32.9994 26.7146 32.4213 27.7733 31.2721C27.7802 31.2582 27.7942 31.2512 27.8011 31.2373C28.1633 30.7985 28.5812 30.4015 29.02 29.9767C29.3195 29.6911 29.6259 29.3916 29.9254 29.0782C30.6149 28.3608 30.9771 27.525 30.9771 26.6683C30.9771 25.8047 30.608 24.9759 29.9045 24.2794L26.0808 20.4417ZM28.5742 27.7758C28.5673 27.7758 28.5673 27.7827 28.5742 27.7758C28.3026 28.0683 28.024 28.3329 27.7245 28.6255C27.2718 29.0573 26.8121 29.51 26.3803 30.0184C25.6768 30.7707 24.848 31.1259 23.7615 31.1259C23.657 31.1259 23.5456 31.1259 23.4411 31.1189C21.3726 30.9866 19.4503 30.1786 18.0085 29.4891C14.0664 27.5807 10.6049 24.8714 7.72837 21.4377C5.35334 18.5752 3.76535 15.9285 2.71366 13.0868C2.06592 11.3526 1.82912 10.0014 1.93359 8.72682C2.00324 7.91193 2.31666 7.23633 2.89474 6.65825L5.26976 4.28323C5.61104 3.96284 5.97322 3.78872 6.32843 3.78872C6.76721 3.78872 7.12242 4.05339 7.3453 4.27626C7.35226 4.28323 7.35923 4.29019 7.36619 4.29716C7.79105 4.69415 8.19501 5.10508 8.61987 5.54387C8.83578 5.76675 9.05866 5.98962 9.28153 6.21946L11.1829 8.12087C11.9212 8.85915 11.9212 9.54171 11.1829 10.28C10.981 10.482 10.7859 10.6839 10.584 10.879C9.99891 11.4779 9.44173 12.0351 8.83578 12.5784C8.82185 12.5923 8.80792 12.5993 8.80096 12.6132C8.20198 13.2122 8.31342 13.7972 8.43878 14.1942C8.44575 14.2151 8.45271 14.236 8.45968 14.2569C8.95418 15.4549 9.65067 16.5832 10.7093 17.9274L10.7163 17.9344C12.6386 20.3024 14.6654 22.1481 16.9011 23.562C17.1867 23.7431 17.4792 23.8894 17.7578 24.0287C18.0085 24.154 18.2453 24.2724 18.4473 24.3978C18.4752 24.4117 18.503 24.4326 18.5309 24.4465C18.7677 24.5649 18.9906 24.6207 19.2204 24.6207C19.7985 24.6207 20.1607 24.2585 20.2791 24.1401L22.6611 21.7581C22.8979 21.5213 23.274 21.2357 23.7128 21.2357C24.1446 21.2357 24.4998 21.5074 24.7157 21.7442C24.7227 21.7511 24.7227 21.7511 24.7296 21.7581L28.5673 25.5958C29.2847 26.3062 29.2847 27.0375 28.5742 27.7758Z"></path><path d="M17.8345 7.85011C19.6593 8.15656 21.3169 9.02021 22.6403 10.3435C23.9636 11.6669 24.8203 13.3245 25.1337 15.1493C25.2103 15.609 25.6073 15.9294 26.06 15.9294C26.1157 15.9294 26.1645 15.9224 26.2202 15.9154C26.7356 15.8319 27.0769 15.3443 26.9933 14.8289C26.6172 12.621 25.5725 10.6082 23.9775 9.01324C22.3826 7.41829 20.3697 6.37355 18.1618 5.99745C17.6464 5.91387 17.1659 6.25515 17.0753 6.76359C16.9848 7.27202 17.3191 7.76653 17.8345 7.85011Z"></path><path d="M32.9619 14.557C32.3421 10.9213 30.6287 7.61301 27.996 4.98029C25.3633 2.34757 22.055 0.634209 18.4193 0.0143347C17.9108 -0.0762086 17.4303 0.272035 17.3397 0.780471C17.2562 1.29587 17.5974 1.77645 18.1128 1.86699C21.3585 2.41722 24.3185 3.95645 26.6727 6.30362C29.0268 8.65774 30.5591 11.6178 31.1093 14.8634C31.1859 15.3231 31.5829 15.6435 32.0356 15.6435C32.0913 15.6435 32.1401 15.6365 32.1958 15.6296C32.7042 15.553 33.0525 15.0654 32.9619 14.557Z"></path></g>
                            </svg>
                            </div>
                            <div class="ms-2 mt-2">
                                <h4 class="fs-6 text-white">Call Any Time</h4>
                                <h3 class="fs-6 text-white">2-965-871-8617</h3>
                            </div>
                       </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="col-3" data-aos="fade-right">
                            <ul class>
                                <li class="f-1 pt-4 mt-2 d-flex align-items-center">
                                    <h6 class="fs-5"><i class="bi bi-geo-alt-fill"></i></h6>
                                    <h5 class="fs-4 ms-1 text-white fw-bold">Address</h5>
                                </li>
                                <li>
                                    <h5 class="pt-2 fs-6 text-light opacity-75">House 168/170, Avenue 01, Mirpur <br> DOHS, Dhaka Bangladesh</h5>
                                </li>

                                <li class="pt-4 d-flex align-items-center">
                                    <h6 class="fs-5"><i class="bi bi-geo-alt-fill"></i></h6>
                                    <h5 class="fs-4 ms-1 text-white fw-bold">Say Hello</h5>
                                </li>

                                <li class="mt-2">
                                    <h5 class="fs-6 text-light opacity-75">ifo@example.com <br>
                                        info@support.com</h5>
                                </li>

                                <li class="mt-4">
                                    <h5 class="fs-6 text-white pt-3 fw-bold">See Our New updates</h5>
                                </li>
                                <div class="pt-3 search-btn d-flex align-items-center" data-aos="fade-up">
                                    <input class="p-2 fs-6" type="text" placeholder="Email here...">
                                    <div class="search-2 fs-4"><i class="bi bi-arrow-up-right-circle-fill"></i></div>
                                </div>
                            </ul>
                        </div>

                        <div class="col-3 ms-5" style="padding-left: 4%;" data-aos="fade-up">
                            <ul>
                                <li class="">
                                    <h5 class="fs-4 text-white fw-bold">Our Solutions</h5>
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Web Development</a>                                    
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Mobile Development</a>                                     
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Cloud Services</a>                                
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Network Connectivity</a>
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Data analytics</a>                        
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Software Development</a>
                                </li>
                            </ul>
                        </div>
                    
                        <div class="col-3 ms-2" style="padding-left: 4%;" data-aos="fade-up">
                            <ul>
                                <li class="">
                                    <h5 class="fs-4 text-white fw-bold">Company</h5>
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#"> About Us</a>                                    
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Case Study</a>                                     
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">News & Article</a>                                
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Our Team</a>
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">All Portfolio</a>                        
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Pricing Plan</a>
                                </li>
                            </ul>
                        </div>
                    
                        <div class="col-3 ms-2" style="padding-left: 4%;" data-aos="fade-left">
                            <ul>
                                <li class="">
                                    <h5 class="fs-4 text-white fw-bold">Resources</h5>
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Support Area</a>                                    
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Support Policy</a>                                     
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Terms & Conditions</a>                                
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Privacy Policy</a>
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Career</a>                        
                                </li>
                                <li class="mt-4">
                                    <a class="fs-6 text-light opacity-75" href="#">Pricing Plan</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mt-5 f-bolder pt-5 mb-4 d-flex align-items-center justify-content-between">
                        <div class="px-4">
                            <h4 class="text-light opacity-75 fs-6 fw-bold">©Copyright 2023 Softconic | Design By Egens Lab</h4>
                        </div>

                        <div class="mt-2">
                           <ul class="d-flex px-4">
                            <li class="footer-icon p-2 px-2 mx-2 d-flex">
                                <a href="#">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li class="footer-icon p-2 px-2 mx-2 d-flex">
                                <a href="#">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li class="footer-icon p-2 px-2 mx-2 d-flex">
                                <a href="#">
                                    <i class="bi bi-twitter-x"></i>
                                </a>
                            </li>
                            <li class="footer-icon p-2 px-2 mx-2 d-flex">
                                <a href="#">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </li>
                           </ul>
                        </div> 
                    </div>
                </div>
            </div>
        </section>

    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();

    </script>
    
    <script src="assest/js/bootstrap.bundle.min.js"></script>
    <script src="assest/js/jquery-3.7.1.min.js"></script>
    <script src="assest/js/particles.js"></script>
    <script src="assest/js/app.js"></script>
    <script src="assest/js/aos.js"></script> 
    <script src="assest/js/swiper-bundle.min.js"></script>


    <script>

        $(window).on('load',function(){
                $(".loader").delay(2000).fadeOut(500);
                $(".loader-wrapper").delay(2500).fadeOut(500);

                setInterval(function(){
                    $("body").removeClass("loading");
                },2700);
            });
            
    </script>

<script>
    var count_particles, stats, update;
    stats = new Stats;
    stats.setMode(0);
    // stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';
    document.body.appendChild(stats.domElement);
    count_particles = document.querySelector('.js-count-particles');
    update = function () {
        stats.begin();
        stats.end();
        if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
            count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
    };
    requestAnimationFrame(update);
</script>

    <script>
        // back-top-bar-btn
        $(window).scroll(function () {
            if ($(window).scrollTop() > 240) {
                $(".back").fadeIn();
            }
            else {
                $(".back").fadeOut();
            }
        });
    </script>
    
    <script>
        $(window).on("load",function(){ 
    
        $(".loader").delay(1300).animate({width:'toggle'},1500);
    
    });
    </script>


    <script>

        const cursor = document.getElementById("cursor");
    const stalker = document.getElementById("stalker");
    document.addEventListener("mousemove", (event) => {
    const x = event.clientX;
    const y = event.clientY;
    cursor.style.transform = `translate(${x}px, ${y}px)`;
    stalker.style.transform = `translate(${x}px, ${y}px)`;
    });

    </script>

<script>

    // header-fixed
    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            $("header").addClass("fixed-header");
        }
        else {
            $("header").removeClass("fixed-header");
        }
    });
</script>

<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        slidesPerView: 4,
        autoplay: true,
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });
</script>

</body>

</html>